@import "../node_modules/bootstrap/scss/bootstrap.scss";

*{
    margin:0;
    padding:0;
}
$main-color: rgb(125 148 252);
$right-color: rgb(109, 247, 144);
$wrong-color: rgb(247, 109, 109);
$white-color: white;
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/Roboto-Bold.ttf');
}
body{
    font-size: 14px;
    background-color: $white-color;
}

.ff-bold{
    font-family: 'Roboto-Bold';
}

.container-gap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.modalButton{
    flex-grow:1;
    background-color: $main-color;
    color:$white-color;
    font-family: 'Roboto-Bold';
}

.custom-card {
    img{
        width:100%;
        height: 100%;
        object-fit: contain;
    }
    min-height: 170px;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 52.65%;
    text-align: center;
    transition: transform .3s;
    transform-style: preserve-3d;
    transform: rotateY(0);
}
.card-front{

    background-color: $main-color;
    border: 4px solid $white-color;
}
.card-back{
    background-color: $white-color;
    border: 4px solid $main-color;
    transform: rotateY(180deg);
}
.card-front,.card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-animation-open{
    transform: rotateY(180deg);
}
.card {
    &-wrong{
        background-color: $wrong-color;
    }
    &-right{
        background-color: $right-color;
    }
}