@import "../node_modules/bootstrap/scss/bootstrap.scss";

*{
    margin:0;
    padding:0;
}
$main-color: rgb(125 148 252);
$right-color: rgb(109, 247, 144);
$wrong-color: rgb(247, 109, 109);
$white-color: white;
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/Roboto-Bold.ttf');
}
body{
    font-size: 14px;
    background-color: $white-color;
}

.ff-bold{
    font-family: 'Roboto-Bold';
}

.container-gap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.modalButton{
    flex-grow:1;
    background-color: $main-color;
    color:$white-color;
    font-family: 'Roboto-Bold';
}

@keyframes close {
    0% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
      }
      100% {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
      }
}
@keyframes open {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }

.custom-card {
    img{
        width:80%;
        height: 80%;
        object-fit: contain;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    min-height: 170px;
    cursor: pointer;
}
.card {
    &-closed{
        background-color: $main-color;
        border: 4px solid $white-color;
        animation: close 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    } 
    &-open{
        background-color: $white-color;
        position: relative;
        border: 4px solid $main-color;
        animation: open 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    } 
    &-wrong{
        background-color: $wrong-color;
    }
    &-right{
        background-color: $right-color;
    }
}